#chord-picker {
	display: flex;
}

.chord {
	border: 1px solid blue;
	padding: 20px 35px;
	margin: 10px 10px 0 0;
	border-radius: 5px;
	background-color: #3270E3;
	cursor: default;

	&:hover {
		background-color: #19329E;
		border: 1px solid orange;
		cursor: pointer;
	}

	&.selected {
		border: 1px solid red;

	}
}