ul {
	list-style-type: none;
}

#chord-picker {
	display: flex;
	margin: 0;
	padding: 0;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.chord {
	border: 1px solid @wetasphalt;
	padding: 10px 20px;
	margin: 0 5px 10px 0;
	border-radius: 3px;
	background-color: @white;
	cursor: default;

	&:hover {
		background-color: @emerald;
		color: @white;
		cursor: pointer;
	}

	&.selected {
		background-color: @emerald;
		color: @white;
	}
}