body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url('../assets/bg-blue-afternoon.jpg');
	background-size: cover;

	#flex-container {
		width: 1440px;
		height: 100%;
		padding: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

header {
	opacity: 1;
}

#primary-content {
	opacity: 1;
}

footer {
	opacity: 1;
}

ul, li {
	list-style-type: none;
}