body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;

	#root {
		height: 100%;

		main#container {
			height: 100%;
			margin: 0 auto;
  			align-self: center;
			background-color: #fff;
			padding: 40px 20px;
		}
	}

	footer {
		margin-top: auto;
		padding: 50px 0 0 0;
	}

	header {
		padding: 0 0 50px 0;

		li {
			padding: 40px 100px;
			text-align: center;

			&:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}
		}
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.button-container {
	width: 100%;
	text-align: center;

	button {
		margin: 0 auto;
	}
}