body {
	margin: 0;
	padding: 0;
	width: 100%;
}

#flex-container {
	width: 1440px;
	max-width: 1440px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#flex-container header {
	position: fixed;
}

header img {
	width: 125px;
	opacity: .25;
}

#flex-container .inner {
	width: 100%;
	height: 420px;
	text-align: center;
	color: #fff;
}

#div1 { background-color: black; }
#div2 { background-color: red; }
#div3 { background-color: blue; }
#div4 { background-color: purple; }
#div5 { background-color: orange; }
#div6 { background-color: yellow; }
#div7 { background-color: green; }
#div8 { background-color: gray; }